@font-face {
  font-family: "Fixedsys500c";
  src: url("assets/fonts/Fixedsys500c.eot?#iefix");
  src: url("assets/fonts/Fixedsys500c.eot?#iefix") format("eot"),
       url("assets/fonts/Fixedsys500c.otf") format("otf"),
       url("assets/fonts/Fixedsys500c.woff") format("woff"),
       url("assets/fonts/Fixedsys500c.ttf") format("truetype"),
       url("assets/fonts/Fixedsys500c.svg") format("svg");
}
