.input, .form-control, .btn {
  border-radius: 0;
}

.table > thead th {
  font-weight: bold;
  padding: 1em;
}

.table > tbody > tr > td {
  padding: 1em;
  font-weight: normal;
  padding: 1em;
  position: relative;
}

.editable-wrap {
  position: absolute;
  top: 0.75em;
}

.fa {
  position: relative;
  top: 2px;
}

.editable-click,
a.editable-click {
  border-bottom: dashed 1px $color-steel;
  color: $color-steel;
}